@media screen and (max-width: 1000px){
.navi{display: none;}
.dropdown{position: relative;
display:block;}

.container{
    /* background-image: url(foto/first.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 50%;
    height: 400px;}

.cont--item1{text-align: center;
    padding-top: 180px;
     /* width: 50%;
    height: 400px;
    z-index: 1; */
}

}









@media screen and (max-width: 500px){

.container{
        /* background-image: url(foto/second.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
        width: 100%;
        height: 400px;}

 .cont--item1{width: 100%;
    height: 100%;}   
}